
h2 {
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
  color: #585858;
}

.container {
  border: solid #a5a5a5 4px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #4e4e4e;
}
.container .content{
  overflow-y: auto;
  height: 500px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.listed {
  font-family: "langar";
}

.centered {
  text-align: center;
}

.title {
  font-family: "Langar", cursive;
  font-size: 80px;
  color: #bd84df;
  text-shadow: 3px 1px 1px #524063;
}

.pics {
  width: 300px;
}

.about {
  color: #a5a5a5;
}

.italic {
  font-style: italic;
}

.pointer {
  cursor:pointer
}

.p {
  padding: 7px;
}

.m {
  margin: 7px;
}

